.searchbar {
  margin-left: 15%;
  width:450px;
}


button {
    display:inline;
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    margin: 15px 5px;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    font-size: 20px;
}

button:hover {
    background-color: #283593;
  }

.blue{
    margin-bottom: 40px;
}

.orange {
    margin-bottom: 40px;
    background-color: #F57C00;
}
.orange:hover {
    background-color: #FF5722;
}

.black {
    margin-bottom: 40px;
    margin-left: 64.5%;
    background-color: #757575;
}
.black:hover {
    background-color: #212121;
}

.cont{
    background-image: url(./images/book-image.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    color:azure;
    text-align: center;
}

.logo{
    margin: 20px;
    width: 250px;
    height: 60px;
}

.adv1{
    margin-left: 60%;
    margin-top: 100px;
    margin-bottom: 40px ;
    color:aliceblue;
    font-size: 45px;
    font-weight: bold;
}

.adv2{
    margin-left: 60.3%;
    color:aliceblue;
    font-size: 30px;
    font-weight: bold;
}

.body {
    background-color: #f6f7f9
}

.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px
}

.card {
    border: none;
    padding: 15px;
    cursor: pointer
}

.time i {
    color: #cacacaa3
}

